In [91]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import  os

In [92]:
path = "C:\\Users\\HP\\Documents\\MR AAAA\\allnewdata"
files = [file for file in os.listdir(path) if not file.startswith('.')] # Ignore hidden files

all_months_data = pd.DataFrame()
files

for file in files:
    
    current_data = pd.read_csv(path+"\\"+file)
    all_months_data = pd.concat([all_months_data, current_data])
    
all_months_data.to_csv("all_data_copy.csv", index=False)

In [93]:
data = pd.read_csv("all_data_copy.csv")
data.head()

,Unnamed: 0,Day,Month,Year,SolRadiation (MJ/m²/day),TempMin (°C),TempMax (°C),RelHumMin (%),RelHumMax (%),net radiation name,net radiation,surplus,deficit
0,1,1,1,2011,13.001963,19.0,33.5,21.0,90.0,surplus,9.101374,1.500000,-0.500000
1,2,2,1,2011,9.872775,17.0,31.5,26.0,89.0,surplus,13.821885,1.333333,-0.333333
2,3,3,1,2011,10.605516,17.5,33.0,27.0,95.0,surplus,22.271583,1.250000,-0.250000
3,4,4,1,2011,10.221941,19.0,33.0,38.0,98.0,surplus,28.621436,1.200000,-0.200000
4,5,5,1,2011,9.217511,19.0,31.5,50.0,97.0,surplus,32.261289,1.166667,-0.166667

In [94]:
datacol =np.array(data.columns)
datacol[0] = "S/N"
datacol

array(['S/N', 'Day', 'Month', 'Year', 'SolRadiation (MJ/m²/day)',
       'TempMin (°C)', 'TempMax (°C)', 'RelHumMin (%)', 'RelHumMax (%)',
       'net radiation name', 'net radiation', 'surplus', 'deficit'],
      dtype=object)

In [95]:
data = pd.DataFrame(data.values, columns = datacol)
data.head()

,S/N,Day,Month,Year,SolRadiation (MJ/m²/day),TempMin (°C),TempMax (°C),RelHumMin (%),RelHumMax (%),net radiation name,net radiation,surplus,deficit
0,1,1,1,2011,13.002,19,33.5,21,90,surplus,9.10137,1.5,-0.5
1,2,2,1,2011,9.87277,17,31.5,26,89,surplus,13.8219,1.33333,-0.333333
2,3,3,1,2011,10.6055,17.5,33,27,95,surplus,22.2716,1.25,-0.25
3,4,4,1,2011,10.2219,19,33,38,98,surplus,28.6214,1.2,-0.2
4,5,5,1,2011,9.21751,19,31.5,50,97,surplus,32.2613,1.16667,-0.166667

In [96]:
data.shape

(4017, 13)

In [97]:
data.index = pd.to_datetime(data.Year.astype(str) + data.Month.astype(str) + 
                              data.Day.astype(str), format='%Y%m%d')
data.index

DatetimeIndex(['2011-01-01', '2011-01-02', '2011-01-03', '2011-01-04',
               '2011-01-05', '2011-01-06', '2011-01-07', '2011-01-08',
               '2011-01-09', '2011-01-10',
               ...
               '2013-12-22', '2013-12-23', '2013-12-24', '2013-12-25',
               '2013-12-26', '2013-12-27', '2013-12-28', '2013-12-29',
               '2013-12-30', '2013-12-31'],
              dtype='datetime64[ns]', length=4017, freq=None)

In [98]:
data["net radiation"]

2011-01-01        9.10137
2011-01-02        13.8219
2011-01-03        22.2716
2011-01-04        28.6214
2011-01-05        32.2613
                 ...
2013-12-27    6.86129e+11
2013-12-28   -5.94769e+11
2013-12-29    -5.7191e+11
2013-12-30   -4.39613e+11
2013-12-31   -2.65859e+12
Name: net radiation, Length: 4017, dtype: object

In [99]:
data

,S/N,Day,Month,Year,SolRadiation (MJ/m²/day),TempMin (°C),TempMax (°C),RelHumMin (%),RelHumMax (%),net radiation name,net radiation,surplus,deficit
2011-01-01,1,1,1,2011,13.002,19,33.5,21,90,surplus,9.10137,1.5,-0.5
2011-01-02,2,2,1,2011,9.87277,17,31.5,26,89,surplus,13.8219,1.33333,-0.333333
2011-01-03,3,3,1,2011,10.6055,17.5,33,27,95,surplus,22.2716,1.25,-0.25
2011-01-04,4,4,1,2011,10.2219,19,33,38,98,surplus,28.6214,1.2,-0.2
2011-01-05,5,5,1,2011,9.21751,19,31.5,50,97,surplus,32.2613,1.16667,-0.166667
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2013-12-27,361,27,12,2013,16.8476,24,33,40,95,surplus,6.86129e+11,1.03571,-0.0357143
2013-12-28,362,28,12,2013,14.5502,24,33,40,92,deficit,-5.94769e+11,1.03448,-0.0344828
2013-12-29,363,29,12,2013,16.8476,24,33,37,92,deficit,-5.7191e+11,1.03333,-0.0333333
2013-12-30,364,30,12,2013,15.316,24,34,40,98,deficit,-4.39613e+11,1.03226,-0.0322581
2013-12-31,365,31,12,2013,16.0818,24,34,33,97,deficit,-2.65859e+12,1.03125,-0.03125

In [100]:
data.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 4017 entries, 2011-01-01 to 2013-12-31
Data columns (total 13 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   S/N                       4017 non-null   object
 1   Day                       4017 non-null   object
 2   Month                     4017 non-null   object
 3   Year                      4017 non-null   object
 4   SolRadiation (MJ/m²/day)  4017 non-null   object
 5   TempMin (°C)              4017 non-null   object
 6   TempMax (°C)              4017 non-null   object
 7   RelHumMin (%)             4017 non-null   object
 8   RelHumMax (%)             4017 non-null   object
 9   net radiation name        4017 non-null   object
 10  net radiation             4017 non-null   object
 11  surplus                   4017 non-null   object
 12  deficit                   4017 non-null   object
dtypes: object(13)
memory usage: 439.4+ KB

In [101]:
# data.pivot_table('net radiation', index='Year', columns='Month', aggfunc={'net radiation':sum})

In [102]:
data.pivot_table(index='Month', columns='net radiation name', aggfunc={'surplus':pd.value_counts,}).stack()

ValueError: Function does not reduce