In [4]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import  os

In [6]:
path = "C:\\Users\\HP\\Documents\\MR AAAA\\NEW DATA"
files = [file for file in os.listdir(path) if not file.startswith('.')] # Ignore hidden files

all_months_data = pd.DataFrame()
files

for file in files:
    
    current_data = pd.read_csv(path+"\\"+file)
    all_months_data = pd.concat([all_months_data, current_data])
    
all_months_data.to_csv("all_data_copy.csv", index=False)

In [7]:
data = pd.read_csv("all_data_copy.csv")
data.head()

,Unnamed: 0,Day,Month,Year,SolRadiation (MJ/m²/day),TempMin (°C),TempMax (°C),RelHumMin (%),RelHumMax (%),net radiation name,net radiation,surplus,deficit
0,1,1,1,2011,13.001963,19.0,33.5,21.0,90.0,surplus,6.128129e+10,inf,-inf
1,2,2,1,2011,9.872775,17.0,31.5,26.0,89.0,deficit,-1.327964e+11,2.000000,-1.000000
2,3,3,1,2011,10.605516,17.5,33.0,27.0,95.0,deficit,-3.897039e+11,1.500000,-0.500000
3,4,4,1,2011,10.221941,19.0,33.0,38.0,98.0,deficit,-1.036396e+11,1.333333,-0.333333
4,5,5,1,2011,9.217511,19.0,31.5,50.0,97.0,surplus,2.315305e+11,1.250000,-0.250000

In [8]:
datacol =np.array(data.columns)
datacol[0] = "S/N"
datacol

array(['S/N', 'Day', 'Month', 'Year', 'SolRadiation (MJ/m²/day)',
       'TempMin (°C)', 'TempMax (°C)', 'RelHumMin (%)', 'RelHumMax (%)',
       'net radiation name', 'net radiation', 'surplus', 'deficit'],
      dtype=object)

In [9]:
data = pd.DataFrame(data.values, columns = datacol)
data.head()

,S/N,Day,Month,Year,SolRadiation (MJ/m²/day),TempMin (°C),TempMax (°C),RelHumMin (%),RelHumMax (%),net radiation name,net radiation,surplus,deficit
0,1,1,1,2011,13.002,19,33.5,21,90,surplus,6.12813e+10,inf,-inf
1,2,2,1,2011,9.87277,17,31.5,26,89,deficit,-1.32796e+11,2,-1
2,3,3,1,2011,10.6055,17.5,33,27,95,deficit,-3.89704e+11,1.5,-0.5
3,4,4,1,2011,10.2219,19,33,38,98,deficit,-1.0364e+11,1.33333,-0.333333
4,5,5,1,2011,9.21751,19,31.5,50,97,surplus,2.3153e+11,1.25,-0.25

In [10]:
data.shape

(4017, 13)

In [11]:
data.index = pd.to_datetime(data.Year.astype(str) + data.Month.astype(str) + 
                              data.Day.astype(str), format='%Y%m%d')
data.index

DatetimeIndex(['2011-01-01', '2011-01-02', '2011-01-03', '2011-01-04',
               '2011-01-05', '2011-01-06', '2011-01-07', '2011-01-08',
               '2011-01-09', '2011-01-10',
               ...
               '2021-12-22', '2021-12-23', '2021-12-24', '2021-12-25',
               '2021-12-26', '2021-12-27', '2021-12-28', '2021-12-29',
               '2021-12-30', '2021-12-31'],
              dtype='datetime64[ns]', length=4017, freq=None)

In [12]:
data["net radiation"]

2011-01-01    6.12813e+10
2011-01-02   -1.32796e+11
2011-01-03   -3.89704e+11
2011-01-04    -1.0364e+11
2011-01-05     2.3153e+11
                 ...
2021-12-27   -1.57909e+16
2021-12-28   -7.54601e+15
2021-12-29   -3.38012e+15
2021-12-30    -1.8115e+16
2021-12-31   -8.23346e+15
Name: net radiation, Length: 4017, dtype: object

In [13]:
data

,S/N,Day,Month,Year,SolRadiation (MJ/m²/day),TempMin (°C),TempMax (°C),RelHumMin (%),RelHumMax (%),net radiation name,net radiation,surplus,deficit
2011-01-01,1,1,1,2011,13.002,19,33.5,21,90,surplus,6.12813e+10,inf,-inf
2011-01-02,2,2,1,2011,9.87277,17,31.5,26,89,deficit,-1.32796e+11,2,-1
2011-01-03,3,3,1,2011,10.6055,17.5,33,27,95,deficit,-3.89704e+11,1.5,-0.5
2011-01-04,4,4,1,2011,10.2219,19,33,38,98,deficit,-1.0364e+11,1.33333,-0.333333
2011-01-05,5,5,1,2011,9.21751,19,31.5,50,97,surplus,2.3153e+11,1.25,-0.25
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2021-12-27,361,27,12,2021,16.0407,23,34,5,100,deficit,-1.57909e+16,1.00278,-0.00277778
2021-12-28,362,28,12,2021,15.2298,24,33,25,90,deficit,-7.54601e+15,1.00277,-0.00277008
2021-12-29,363,29,12,2021,10.6476,23.2,31,38,97,deficit,-3.38012e+15,1.00276,-0.00276243
2021-12-30,364,30,12,2021,15.1722,22,32.1,5,96,deficit,-1.8115e+16,1.00275,-0.00275482
2021-12-31,365,31,12,2021,12.6912,22.1,32,29,95,deficit,-8.23346e+15,1.00275,-0.00274725

In [14]:
data.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 4017 entries, 2011-01-01 to 2021-12-31
Data columns (total 13 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   S/N                       4017 non-null   object
 1   Day                       4017 non-null   object
 2   Month                     4017 non-null   object
 3   Year                      4017 non-null   object
 4   SolRadiation (MJ/m²/day)  4017 non-null   object
 5   TempMin (°C)              4017 non-null   object
 6   TempMax (°C)              4017 non-null   object
 7   RelHumMin (%)             4017 non-null   object
 8   RelHumMax (%)             4017 non-null   object
 9   net radiation name        4017 non-null   object
 10  net radiation             4017 non-null   object
 11  surplus                   4017 non-null   object
 12  deficit                   4017 non-null   object
dtypes: object(13)
memory usage: 439.4+ KB

In [18]:
data.to_csv("alltheyears.csv")

In [15]:
# data.pivot_table('net radiation', index='Year', columns='Month', aggfunc={'net radiation':sum})

In [17]:
# data.pivot_table(index='Month', columns='net radiation name', aggfunc={'surplus':pd.value_counts,}).stack()