In [12]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [13]:
data = pd.read_excel("2019.xlsx")
data.head()

,Day,Month,Year,SolRadiation (MJ/m²/day),TempMin (°C),TempMax (°C),RelHumMin (%),RelHumMax (%)
0,1,1,2019,16.8732,19.5,35.0,0.0,88
1,2,1,2019,15.9894,19.5,35.2,7.0,87
2,3,1,2019,15.8652,19.0,35.5,6.0,85
3,4,1,2019,16.3584,18.2,35.5,0.0,70
4,5,1,2019,16.6194,19.5,36.0,2.0,78

In [14]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 365 entries, 0 to 364
Data columns (total 8 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Day                       365 non-null    int64
 1   Month                     365 non-null    int64
 2   Year                      365 non-null    int64
 3   SolRadiation (MJ/m²/day)  365 non-null    float64
 4   TempMin (°C)              365 non-null    float64
 5   TempMax (°C)              365 non-null    float64
 6   RelHumMin (%)             365 non-null    float64
 7   RelHumMax (%)             365 non-null    int64
dtypes: float64(4), int64(4)
memory usage: 22.9 KB

In [15]:
okay = []
def model():
    for i in data["Day"]:
        eq1 = 1+0.033*np.cos((((2*22)/7)/365)*i)     #equation 1
        eq2 = 0.409 * np.sin((((2*i*22)/7)/365) - 1.39)    #equation 2
        eq3 = np.arccos(-np.tan(7.3775)*np.tan(eq2))    #equation 3
        eq4 = (((24*3600)/(22/7))*(0.1367*eq1)*((np.cos(7.3775) * np.cos(eq2)*np.sin(eq3)) + (((22*eq3)/7)*np.sin(7.3775)*np.sin(eq2))/180)) #(np.cos(7.3775)*np.cos(eq2)*np.sin(eq3) + ((eq3*22/7)/180)*np.sin(7.3775)*np.sin(eq2))
        tmax = 0.6108*np.exp(17.27*data["TempMax (°C)"][i]/(data["TempMax (°C)"][i] + 237.3))
        tmin = 0.6108*np.exp(17.27*data["TempMin (°C)"][i]/(data["TempMin (°C)"][i] + 237.3))
        eq5 = ((tmin*((data["RelHumMax (%)"][i]/100)) + (tmax*(data["RelHumMin (%)"][i])/100))/2 )
        eq6 = (0.75+ (np.power(np.exp(10),-5))*0.230)
        eq7 = ((np.power((tmax + 273.16), 4) + np.power((tmin + 273.16), 4))/2)*(((0.34-(0.14 * eq5)))* ((1.35*i)/eq6)-0.35)  ###(0.34-0.14) (1.35*(data["SolRadiation (MJ/m²/day)"][i]/eq6) - 0.35)
        
        eq8 = data["SolRadiation (MJ/m²/day)"][i] - eq7
        eq9 = (1-0.3)* data["SolRadiation (MJ/m²/day)"][i]
        okay.append(eq8 * i)

In [16]:
model()

In [17]:
# okay

In [18]:
alllm = []
for i in okay:
    if i < 1:
        alllm.append("deficit")
    else:
        alllm.append("surplus")

In [19]:
# data["all"].unique()
data["net radiation name"] = alllm
data["net radiation"] = okay
data.head()

,Day,Month,Year,SolRadiation (MJ/m²/day),TempMin (°C),TempMax (°C),RelHumMin (%),RelHumMax (%),net radiation name,net radiation
0,1,1,2019,16.8732,19.5,35.0,0.0,88,surplus,2.161753e+08
1,2,1,2019,15.9894,19.5,35.2,7.0,87,deficit,-3.728850e+09
2,3,1,2019,15.8652,19.0,35.5,6.0,85,deficit,-1.650501e+10
3,4,1,2019,16.3584,18.2,35.5,0.0,70,deficit,-2.712038e+10
4,5,1,2019,16.6194,19.5,36.0,2.0,78,deficit,-2.984974e+10

In [21]:
data["net radiation name"].unique()

array(['surplus', 'deficit'], dtype=object)

In [149]:
allequ10 = []
allequ12 = []
text = []

number = 0

for i in data["Day"]:
    try:
        equ10 = (number + i) / i
        allequ10.append(equ10) 
        equ11 = number * i
        equ12 = i/(i-1)
        allequ12.append(equ12)
        equ13 = np.power(equ12,i)
        equ16 = number * equ12
        equ17 = (number* i)/(1+(number * i) - (number +1))
        equ18 = 1 - equ17
        text.append(equ18)
        number +=1
    except:
#         text.append(equ18)
        
        allequ12.append(equ12)
#         text.append(equ17)
#         text.append(equ18)

In [144]:
text

[]