In [138]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [139]:
data = pd.read_excel("2021.xlsx")
data.head()

,Day,Month,Year,SolRadiation (MJ/m²/day),TempMin (°C),TempMax (°C),RelHumMin (%),RelHumMax (%)
0,1,1,2021,13.9038,23.5,34.0,25,94
1,2,1,2021,10.6242,25.0,32.5,40,94
2,3,1,2021,10.0185,25.0,34.0,43,96
3,4,1,2021,12.3033,25.0,35.1,29,91
4,5,1,2021,14.5065,23.0,29.5,38,95

In [140]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 365 entries, 0 to 364
Data columns (total 8 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Day                       365 non-null    int64
 1   Month                     365 non-null    int64
 2   Year                      365 non-null    int64
 3   SolRadiation (MJ/m²/day)  365 non-null    float64
 4   TempMin (°C)              365 non-null    float64
 5   TempMax (°C)              365 non-null    float64
 6   RelHumMin (%)             365 non-null    int64
 7   RelHumMax (%)             365 non-null    int64
dtypes: float64(3), int64(5)
memory usage: 22.9 KB

In [141]:
okay = []
def model():
    for i in data["Day"]:
        eq1 = 1+0.033*np.cos((((2*22)/7)/365)*i)     #equation 1
        eq2 = 0.409 * np.sin((((2*i*22)/7)/365) - 1.39)    #equation 2
        eq3 = np.arccos(-np.tan(7.3775)*np.tan(eq2))    #equation 3
        eq4 = (((24*3600)/(22/7))*(0.1367*eq1)*((np.cos(7.3775) * np.cos(eq2)*np.sin(eq3)) + (((22*eq3)/7)*np.sin(7.3775)*np.sin(eq2))/180)) #(np.cos(7.3775)*np.cos(eq2)*np.sin(eq3) + ((eq3*22/7)/180)*np.sin(7.3775)*np.sin(eq2))
        tmax = 0.6108*np.exp(17.27*data["TempMax (°C)"][i]/(data["TempMax (°C)"][i] + 237.3))
        tmin = 0.6108*np.exp(17.27*data["TempMin (°C)"][i]/(data["TempMin (°C)"][i] + 237.3))
        eq5 = ((tmin*((data["RelHumMax (%)"][i]/100)) + (tmax*(data["RelHumMin (%)"][i])/100))/2 )
        eq6 = (0.75+ (np.power(np.exp(10),-5))*0.230)
        eq7 = ((np.power((tmax + 273.16), 4) + np.power((tmin + 273.16), 4))/2)*(((0.34-(0.14 * eq5)))* ((1.35*i)/eq6)-0.35)  ###(0.34-0.14) (1.35*(data["SolRadiation (MJ/m²/day)"][i]/eq6) - 0.35)
        
        eq8 = data["SolRadiation (MJ/m²/day)"][i] - eq7
        eq9 = (1-0.3)* data["SolRadiation (MJ/m²/day)"][i]
        okay.append(eq8 * i)

In [142]:
model()

In [143]:
# okay

In [144]:
alllm = []
for i in okay:
    if i < 1:
        alllm.append("deficit")
    else:
        alllm.append("surplus")

In [145]:
# data["all"].unique()
data["net radiation name"] = alllm
data["net radiation"] = okay
data.head()

,Day,Month,Year,SolRadiation (MJ/m²/day),TempMin (°C),TempMax (°C),RelHumMin (%),RelHumMax (%),net radiation name,net radiation
0,1,1,2021,13.9038,23.5,34.0,25,94,surplus,2.123516e+09
1,2,1,2021,10.6242,25.0,32.5,40,94,surplus,5.552040e+09
2,3,1,2021,10.0185,25.0,34.0,43,96,surplus,3.979248e+09
3,4,1,2021,12.3033,25.0,35.1,29,91,surplus,8.613620e+08
4,5,1,2021,14.5065,23.0,29.5,38,95,deficit,-6.322766e+09

In [146]:
data["net radiation name"].unique()

array(['surplus', 'deficit'], dtype=object)

In [147]:
allequ10 = []
allequ12 = []
text = []
surplus =  []
deficit =  []
number = 0

for ai in data["Day"]+2:
    j = 1 + ai
    i = ai
    
    try:
        equ10 = j/i
        equ12 = np.where(ai==1,ai/ai,(ai/(ai-1)))
        equ13 = np.power(equ12,ai)
        equ16 = ai* equ12
        equ17 = (j* i)/(1+(j * i) - (j +1))
        equ18 = 1 - equ17
        equ19 = equ17 + equ18
        equ20 = (1/equ17) + (1/equ18)
#         print(equ20)
        surplus.append(equ17)
        deficit.append(equ18)
        
    except:
        equ12 = 2.3
     
        
#     print(ai)

In [148]:
data["surplus"] = surplus
data["deficit"] = deficit
data

,Day,Month,Year,SolRadiation (MJ/m²/day),TempMin (°C),TempMax (°C),RelHumMin (%),RelHumMax (%),net radiation name,net radiation,surplus,deficit
0,1,1,2021,13.9038,23.5,34.0,25,94,surplus,2.123516e+09,1.500000,-0.500000
1,2,1,2021,10.6242,25.0,32.5,40,94,surplus,5.552040e+09,1.333333,-0.333333
2,3,1,2021,10.0185,25.0,34.0,43,96,surplus,3.979248e+09,1.250000,-0.250000
3,4,1,2021,12.3033,25.0,35.1,29,91,surplus,8.613620e+08,1.200000,-0.200000
4,5,1,2021,14.5065,23.0,29.5,38,95,deficit,-6.322766e+09,1.166667,-0.166667
...,...,...,...,...,...,...,...,...,...,...,...,...
360,27,12,2021,16.0407,23.0,34.0,5,100,deficit,-3.526083e+11,1.035714,-0.035714
361,28,12,2021,15.2298,24.0,33.0,25,90,deficit,-5.184887e+11,1.034483,-0.034483
362,29,12,2021,10.6476,23.2,31.0,38,97,deficit,-6.404278e+11,1.033333,-0.033333
363,30,12,2021,15.1722,22.0,32.1,5,96,deficit,-8.202380e+11,1.032258,-0.032258
364,31,12,2021,12.6912,22.1,32.0,29,95,deficit,-5.789094e+11,1.031250,-0.031250

In [149]:
alldatas = data.to_csv("./allnewdata/2021")