In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
data = pd.read_excel("2011.xlsx")
days = np.arange(1,366)

In [3]:
data.index = days
# data.index

In [4]:
data.head(2)

,Day,Month,Year,SolRadiation (MJ/m²/day),TempMin (°C),TempMax (°C),RelHumMin (%),RelHumMax (%)
1,1,1,2011,13.001963,19.0,33.5,21,90
2,2,1,2011,9.872775,17.0,31.5,26,89

In [5]:
# data["ALLdays"] = days

In [6]:
# len(data.ALLdays)

In [7]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 365 entries, 1 to 365
Data columns (total 8 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Day                       365 non-null    int64
 1   Month                     365 non-null    int64
 2   Year                      365 non-null    int64
 3   SolRadiation (MJ/m²/day)  365 non-null    float64
 4   TempMin (°C)              365 non-null    float64
 5   TempMax (°C)              365 non-null    float64
 6   RelHumMin (%)             365 non-null    int64
 7   RelHumMax (%)             365 non-null    int64
dtypes: float64(3), int64(5)
memory usage: 25.7 KB

In [8]:
data["TempMax (°C)"][364]

34.0

In [9]:
# for i, y in zip(data["TempMax (°C)"], range(1, len(data["TempMax (°C)"]))):
#     print(i, y)

In [10]:
# data["RelHumMax (%)"].astype("float")

In [11]:
# m = pd.DataFrame({"ma":[1,2,3,8,5,6,7,8,9], "ok":[5,8,4,6,3,5,3,8,9]})
# m

In [12]:
# for i in range(0, len(m.ma)):
#     print(m.ok[i])

In [13]:
data.head(1)

,Day,Month,Year,SolRadiation (MJ/m²/day),TempMin (°C),TempMax (°C),RelHumMin (%),RelHumMax (%)
1,1,1,2011,13.001963,19.0,33.5,21,90

In [14]:
#copied
okay = []
def model():
    for i in data["Day"]:
        eq1 = 1+0.033*np.cos((((2*22)/7)/365)*i)     #equation 1
        eq2 = 0.409 * np.sin((((2*i*22)/7)/365) - 1.39)    #equation 2
        eq3 = np.arccos(-np.tan(7.3775)*np.tan(eq2))    #equation 3
        eq4 = (((24*3600)/(22/7))*(0.1367*eq1)*((np.cos(7.3775) * np.cos(eq2)*np.sin(eq3)) + (((22*eq3)/7)*np.sin(7.3775)*np.sin(eq2))/180)) #(np.cos(7.3775)*np.cos(eq2)*np.sin(eq3) + ((eq3*22/7)/180)*np.sin(7.3775)*np.sin(eq2))
        tmax = 0.6108*np.exp(17.27*data["TempMax (°C)"][i]/(data["TempMax (°C)"][i] + 237.3))
        tmin = 0.6108*np.exp(17.27*data["TempMin (°C)"][i]/(data["TempMin (°C)"][i] + 237.3))
        eq5 = ((tmin*((data["RelHumMax (%)"][i]/100)) + (tmax*(data["RelHumMin (%)"][i])/100))/2 )
        eq6 = (0.75+ (np.power(np.exp(10),-5))*0.230)
        eq7 = 4.903*((np.power((tmax + 273.16), 4) + np.power((tmin + 273.16), 4))/2)*(((0.34-(0.14 * eq5)))* ((1.35*i)/eq6)-0.35)  ###(0.34-0.14) (1.35*(data["SolRadiation (MJ/m²/day)"][i]/eq6) - 0.35)
        
        eq8 = data["SolRadiation (MJ/m²/day)"][i] - eq7
        eq9 = (1-0.3)* data["SolRadiation (MJ/m²/day)"][i]
        okay.append(eq8 * i)

In [15]:
# okay = []
# def model():
#     for i in data["Day"]:
#         eq1 = 1+0.033*np.cos((((2*22)/7)*i/365))     #equation 1
# #         eq2 = 23.45 * np.sin(360*((284+i)/365))    #equation 2
#         eq2 = 0.409 * np.sin((((2*i*22)/7)/365) - 1.39) 
#         eq3 = np.arccos(-np.tan(7.3775)*np.tan(eq2))    #equation 3
#         eq4 = (((24*3600)/(22/7))*(0.1367*eq1)*((np.cos(7.3775) * np.cos(eq2)*np.sin(eq3)) + (((22*eq3)/7)*np.sin(7.3775)*np.sin(eq2))/180)) #(np.cos(7.3775)*np.cos(eq2)*np.sin(eq3) + ((eq3*22/7)/180)*np.sin(7.3775)*np.sin(eq2))
#         tmax = 0.6108*np.exp(17.27*data["TempMax (°C)"][i]/(data["TempMax (°C)"][i] + 237.3))
#         tmin = 0.6108*np.exp(17.27*data["TempMin (°C)"][i]/(data["TempMin (°C)"][i] + 237.3))
#         eq5 = ((tmin*((data["RelHumMax (%)"][i]/100)) + (tmax*(data["RelHumMin (%)"][i])/100))/2 )
#         eq6 = (0.75+ (np.power(np.exp(10),-5))*0.230)
#         eq7 = ((np.power((tmax + 273.16), 4) + np.power((tmin + 273.16), 4))/2)*(((0.34-(0.14 * eq5)))* ((1.35*i)/eq6)-0.35)  ###(0.34-0.14) (1.35*(data["SolRadiation (MJ/m²/day)"][i]/eq6) - 0.35)
        
#         eq8 = data["SolRadiation (MJ/m²/day)"][i] - eq7
#         eq9 = (1-0.3)* data["SolRadiation (MJ/m²/day)"][i]
#         okay.append(eq9 * i)

In [16]:
model()

In [17]:
# len3(okay)

In [18]:
alllm = []
for i in okay:
    if i < 1:
        alllm.append("deficit")
    else:
        alllm.append("surplus")

In [19]:
# len(alllm)

In [20]:
# len(data["net radiation"])

In [21]:
# data["all"].unique()
data["net radiation name"] = alllm
data["net radiation"] = okay
# data.head()

In [22]:
data["net radiation name"].unique()

array(['surplus', 'deficit'], dtype=object)

In [23]:
# data["net radiation"] = data["net radiation"].round(3)

In [24]:
# data.info()

In [25]:
# allm = []
# for i in data["net radiation"]:
#     print(str(i)[:4])

In [26]:
data["net radiation"] = round(data["net radiation"], 1)

data["net radiation"]

1      3.573709e+09
2     -7.821778e+09
3     -2.193340e+10
4     -5.673421e+09
5      1.273531e+10
           ...
361   -9.418538e+10
362   -4.877558e+11
363    1.508055e+11
364    1.644770e+12
365    9.331388e+11
Name: net radiation, Length: 365, dtype: float64

In [27]:
allequ10 = []
allequ12 = []
text = []
surplus =  []
deficit =  []
number = 0

for ai in data["Day"]+2:
    j = 1 + ai
    i = ai
    
    try:
        equ10 = j/i
        equ12 = np.where(ai==1,ai/ai,(ai/(ai-1)))
        equ13 = np.power(equ12,ai)
        equ16 = ai* equ12
        equ17 = (j* i)/(1+(j * i) - (j * 1))
        equ18 = 1 - equ17
        equ19 = equ17 + equ18
        equ20 = (1/equ17) + (1/equ18)
#         print(equ20)
        surplus.append(equ17)
        deficit.append(equ18)
        
    except:
        equ12 = 2.3
     
        
#     print(ai)

In [28]:
data["surplus"] = surplus
data["deficit"] = deficit
data

,Day,Month,Year,SolRadiation (MJ/m²/day),TempMin (°C),TempMax (°C),RelHumMin (%),RelHumMax (%),net radiation name,net radiation,surplus,deficit
1,1,1,2011,13.001963,19.0,33.5,21,90,surplus,3.573709e+09,1.333333,-0.333333
2,2,1,2011,9.872775,17.0,31.5,26,89,deficit,-7.821778e+09,1.250000,-0.250000
3,3,1,2011,10.605516,17.5,33.0,27,95,deficit,-2.193340e+10,1.200000,-0.200000
4,4,1,2011,10.221941,19.0,33.0,38,98,deficit,-5.673421e+09,1.166667,-0.166667
5,5,1,2011,9.217511,19.0,31.5,50,97,surplus,1.273531e+10,1.142857,-0.142857
...,...,...,...,...,...,...,...,...,...,...,...,...
361,27,12,2011,13.272058,21.0,35.0,25,95,deficit,-9.418538e+10,1.034483,-0.034483
362,28,12,2011,11.398924,22.5,34.0,26,98,deficit,-4.877558e+11,1.033333,-0.033333
363,29,12,2011,11.577145,23.0,33.5,24,96,surplus,1.508055e+11,1.032258,-0.032258
364,30,12,2011,12.149632,23.0,34.0,22,96,surplus,1.644770e+12,1.031250,-0.031250
365,31,12,2011,14.529058,20.0,35.0,7,96,surplus,9.331388e+11,1.030303,-0.030303

In [29]:
alldatas = data.to_csv("./allnewdata/2011.csv")