In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
data = pd.read_excel("2021.xlsx")
data.head()

,Day,Month,Year,SolRadiation,TempMin (°C),TempMax (°C),RelHumMin (%),RelHumMax (%)
0,1,1,2021,13.9038,23.5,34.0,25,94
1,2,1,2021,10.6242,25.0,32.5,40,94
2,3,1,2021,10.0185,25.0,34.0,43,96
3,4,1,2021,12.3033,25.0,35.1,29,91
4,5,1,2021,14.5065,23.0,29.5,38,95

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 365 entries, 0 to 364
Data columns (total 8 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Day            365 non-null    int64
 1   Month          365 non-null    int64
 2   Year           365 non-null    int64
 3   SolRadiation   365 non-null    float64
 4   TempMin (°C)   365 non-null    float64
 5   TempMax (°C)   365 non-null    float64
 6   RelHumMin (%)  365 non-null    int64
 7   RelHumMax (%)  365 non-null    int64
dtypes: float64(3), int64(5)
memory usage: 22.9 KB

In [4]:
okay = []
def model():
    for i in data["Day"]:
        eq1 = 1+0.033*np.cos((((2*22)/7)/365)*i)     #equation 1
        eq2 = 0.409 * np.sin((((2*i*22)/7)/365) - 1.39)    #equation 2
        eq3 = np.arccos(-np.tan(7.3775)*np.tan(eq2))    #equation 3
        eq4 = (((24*60)/(22/7))*(0.082*eq1)*(    )) #(np.cos(7.3775)*np.cos(eq2)*np.sin(eq3) + ((eq3*22/7)/180)*np.sin(7.3775)*np.sin(eq2))
        tmax = 0.6108*np.exp(17.27*data["TempMax (°C)"][i]/(data["TempMax (°C)"][i] + 237.3))
        tmin = 0.6108*np.exp(17.27*data["TempMin (°C)"][i]/(data["TempMin (°C)"][i] + 237.3))
        eq5 = (tmin*((data["RelHumMax (%)"][i]/100)) + (tmax*(data["RelHumMin (%)"][i])/100) )
#         eq6 = (0.75+2)
        eq7 = (np.power((tmax + 273.16), 4) + np.power((tmin + 273.16), 4))  #(0.34-0.14) (1.35*(data["SolRadiation (MJ/m²/day)"][i]/eq6) - 0.35)
        
        eq8 = data["SolRadiation"][i] - eq7
        eq9 = (1-0.3)* data["SolRadiation"][i]
        okay.append(eq9)

In [222]:
model()

In [224]:
# okay