In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import math as mth

In [32]:
data = pd.read_excel("C:\\Users\\HP\\Documents\\MR AAAA\\DATA IN YEARS\\2012.xlsx")
days = np.arange(1,367)

In [33]:
data.index = days
# data.index

In [34]:
data.head(2)

,Day,Month,Year,SolRadiation (MJ/m²/day),TempMin (°C),TempMax (°C),RelHumMin (%),RelHumMax (%)
1,1,1,2012,21.492,21.0,33.0,24,96
2,2,1,2012,21.384,21.5,32.5,13,100

In [35]:
# data.info()

In [36]:
data["TempMax (°C)"][364]

33.5

In [37]:
data.head(1)

,Day,Month,Year,SolRadiation (MJ/m²/day),TempMin (°C),TempMax (°C),RelHumMin (%),RelHumMax (%)
1,1,1,2012,21.492,21.0,33.0,24,96

In [38]:
import math
okay = []
def model():
    for i in days:
        eq1 = 1+0.033*np.cos((((2*22*i)/7)/365))     #equation 1
#         eq2 = 23.45 * np.sin(360*((284+i)/365))    #equation 2
        eq2 = 0.409 * np.sin((((2*i*22)/7)/365) - 1.39) 
        eq3 = np.arccos(-np.tan(7.3775)*np.tan(eq2)) 
        eq4 = (((24*3600)/(22/7))*(0.1367*eq1)*((np.cos(7.3775) * np.cos(eq2)*np.sin(eq3)) + (((22*eq3)/7)*np.sin(7.3775)*np.sin(eq2))/180))
        tmax = 0.6108*np.exp(17.27*data["TempMax (°C)"][i]/(data["TempMax (°C)"][i] + 237.3))
        tmin = 0.6108*np.exp(17.27*data["TempMin (°C)"][i]/(data["TempMin (°C)"][i] + 237.3))
        eq5 = ((tmin*((data["RelHumMax (%)"][i]/100)) + (tmax*(data["RelHumMin (%)"][i])/100))/2 )
        eq6 = 0.75+(2* (np.power(np.exp(10),-5)))*0.230
#         eq7 = 0.00000000000004903 *(((np.power((data["TempMax (°C)"][i] + 273.16), 4) + np.power((data["TempMin (°C)"][i] + 273.16), 4))/2)*(((0.34-(0.14 * math.sqrt(eq5))))* ((1.35*i)/eq6)-0.35))
        eq7 = 0.000000004903 *((np.power((data["TempMax (°C)"][i] + 273.16), 4) + np.power((data["TempMin (°C)"][i] + 273.16), 4))/2)*(((0.34-(0.14 * eq5)))* ((1.35*data["SolRadiation (MJ/m²/day)"][i])/eq6)-0.35) 
        eq8 = data["SolRadiation (MJ/m²/day)"][i] - eq7
        eq9 = (1-0.3)* data["SolRadiation (MJ/m²/day)"][i]
        okay.append(eq8)

In [39]:
model()

In [40]:
alllm = []
for i in okay:
    if i < 1:
        alllm.append("deficit")
    else:
        alllm.append("surplus")

In [41]:
len(okay)

366

In [42]:
data["net radiation name"] = alllm
data["net radiation"] = okay
data["net radiation name"].unique()

array(['deficit', 'surplus'], dtype=object)

In [43]:
data

,Day,Month,Year,SolRadiation (MJ/m²/day),TempMin (°C),TempMax (°C),RelHumMin (%),RelHumMax (%),net radiation name,net radiation
1,1,1,2012,21.492000,21.0,33.0,24,96,deficit,-100.925151
2,2,1,2012,21.384000,21.5,32.5,13,100,deficit,-142.694631
3,3,1,2012,21.312000,18.5,33.0,10,85,deficit,-233.249255
4,4,1,2012,21.924000,18.0,34.0,10,84,deficit,-246.611432
5,5,1,2012,20.952000,16.0,33.0,14,85,deficit,-231.744934
...,...,...,...,...,...,...,...,...,...,...
362,27,12,2012,20.988000,18.5,34.0,24,90,deficit,-139.222655
363,28,12,2012,20.772000,19.0,33.0,30,89,deficit,-109.026177
364,29,12,2012,21.096000,19.5,33.5,14,93,deficit,-178.490560
365,30,12,2012,20.196000,21.0,33.5,24,95,deficit,-93.443011
366,31,12,2012,20.977714,21.0,33.0,7,90,deficit,-204.083053

In [44]:

surplus =  []
deficit =  []

for ai in data["net radiation"]:
    j = ai + 1
    i = ai
    m = np.where(j==1,1,(ai/(ai-1)))
    
    equ10 = (ai/ai-1)
#         equ12 = np.where(ai==1,ai/ai,(ai/(ai-1)))
    equ12 = np.where(ai==1,1,(ai/(ai-1)))

    equ13 = np.power(equ12,ai)
    equ14 = ai
    equ16 = ai* equ12 
    equ17 =  np.where(j==1,1,(j* i)/(1+(j * i) - (j +1)))
    equ18 = 1 - equ17
    equ19 = equ17 + equ18
    equ20 = (1/equ17) + (1/equ18)
#         print(equ20)
    surplus.append(equ17)
    deficit.append(equ18)

<ipython-input-44-3bcb22dab6a3>:13: RuntimeWarning: invalid value encountered in power
  equ13 = np.power(equ12,ai)

In [45]:
data["surplus"] = surplus
data["deficit"] = deficit
data

,Day,Month,Year,SolRadiation (MJ/m²/day),TempMin (°C),TempMax (°C),RelHumMin (%),RelHumMax (%),net radiation name,net radiation,surplus,deficit
1,1,1,2012,21.492000,21.0,33.0,24,96,deficit,-100.925151,0.9901888788485828,0.009811
2,2,1,2012,21.384000,21.5,32.5,13,100,deficit,-142.694631,0.9930407977292813,0.006959
3,3,1,2012,21.312000,18.5,33.0,10,85,deficit,-233.249255,0.9957310429947024,0.004269
4,4,1,2012,21.924000,18.0,34.0,10,84,deficit,-246.611432,0.9959614142539047,0.004039
5,5,1,2012,20.952000,16.0,33.0,14,85,deficit,-231.744934,0.9957034510661404,0.004297
...,...,...,...,...,...,...,...,...,...,...,...,...
362,27,12,2012,20.988000,18.5,34.0,24,90,deficit,-139.222655,0.9928684847785398,0.007132
363,28,12,2012,20.772000,19.0,33.0,30,89,deficit,-109.026177,0.9909112537688248,0.009089
364,29,12,2012,21.096000,19.5,33.5,14,93,deficit,-178.490560,0.9944286763515148,0.005571
365,30,12,2012,20.196000,21.0,33.5,24,95,deficit,-93.443011,0.9894116040200921,0.010588
366,31,12,2012,20.977714,21.0,33.0,7,90,deficit,-204.083053,0.9951239267067838,0.004876

In [23]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 365 entries, 1 to 365
Data columns (total 12 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Day                       365 non-null    int64
 1   Month                     365 non-null    int64
 2   Year                      365 non-null    int64
 3   SolRadiation (MJ/m²/day)  365 non-null    float64
 4   TempMin (°C)              365 non-null    float64
 5   TempMax (°C)              365 non-null    float64
 6   RelHumMin (%)             365 non-null    int64
 7   RelHumMax (%)             365 non-null    int64
 8   net radiation name        365 non-null    object
 9   net radiation             365 non-null    float64
 10  surplus                   365 non-null    object
 11  deficit                   365 non-null    float64
dtypes: float64(5), int64(5), object(2)
memory usage: 47.1+ KB

In [229]:
data.to_csv("NEW DATA/2021.csv")